h4{
    background-color: ;
    font-size: 40px;
    color: blue;
    letter-spacing: px;
    word-spacing: x;
    text-align: center;
    font-variant: ;
}
h2{
    text-decoration: underline;
    text-align: center;
}

p{
    font-size: px;
    text-align: center;
    font-weight: 300;
    word-spacing: 0px;
}

#par1{
    color: blue;
    background-color: rgb(230, 221, 218);
    font-size: 18px;
    padding-bottom: 2px;
    text-align: center;
}

h5{
    text-decoration: underline;
}

#par2{
    color: blue;
    background-color: rgb(230, 221, 218);
    font-size: 18px;
    padding-bottom: 2px;
    text-align: center;
}
image{
    padding: 5px;
}